/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

* {
  font-display: auto;
}

/* Variables */
$header: "ff-good-headline-web-pro-con", sans-serif;
$body: "adelle", sans-serif;
$color1: #000;
$color2: #fff;
$color3: rgb(203, 119, 0);
$highlight: #d92929;
$bodyFontSize: 15px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "xsmall" {
    @media (max-width: 320px) {
      @content;
    }
  }
  @if $breakpoint == "small" {
    @media (max-width: 550px) {
      @content;
    }
  } @else if $breakpoint == "medium" {
    @media (max-width: 750px) {
      @content;
    }
  } @else if $breakpoint == "large" {
    @media (max-width: 960px) {
      @content;
    }
  }
}

/* General Styles */
a {
  text-decoration: none;
}

.backgroundContain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: auto;

  svg {
    z-index: 0;
    width: 100%;
  }
}

.blurb a {
  color: $color3;
  &:hover {
    text-decoration: underline;
  }
}

/* Closer */
.musicCloser,
.closer {
  display: block;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: $color1;
  cursor: pointer;
  color: $color2;
  vertical-align: middle;
  text-align: center;
  font-family: $header;
  line-height: 50px;
}
